<div class="test-root">
  <div class="test-root__section">
    <test-emitter></test-emitter>
  </div>
  <div class="test-root__section">
    <test-receiver></test-receiver>
  </div>
  <div class="test-root__section">
    <test-transformer-receiver></test-transformer-receiver>
  </div>
</div>
