<div class="test-emitter">
  <div class="test-emitter__container">
    <div class="test-emitter__button-container">
      <div class="test-emitter__button" (click)="onPrefixItems()">
        Prefix Items
      </div>
      <div class="test-emitter__button" (click)="onRemovePrefixItems()">
        Remove Prefix
      </div>
      <div class="test-emitter__button" (click)="onIncreaseIdBy10()">
        Increase Id by 10
      </div>
      <div class="test-emitter__button" (click)="onDecreaseIdBy10()">
        Decrease Id by 10
      </div>
      <div class="test-emitter__button" (click)="onIncreaseAsyncBy10()">
        Increase Async by 10
      </div>
    </div>
  </div>
</div>
