.test-emitter {

}

.test-emitter__container {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  padding: 8px 16px;
}

.test-emitter__button-container {
  display: flex;
  flex-wrap: wrap;
}

.test-emitter__button {
  padding: 8px 24px;
  margin: 8px;
  background-color: #f07d00;
  color: white;
  cursor: pointer;
}
