<div class="test-receiver">
  <div class="test-receiver__container">
    <div>Receiver State</div>
    <div class="test-receiver__indent">
      <div>Async Value:</div>
      <div class="test-receiver__indent">Value: {{(asyncValue$ | async).value}}</div>
      <div class="test-receiver__indent">State: {{(asyncValue$ | async).state}}</div>
    </div>
    <div class="test-receiver__indent">Threshold: {{threshold$ | async}}</div>
    <div class="test-receiver__indent">
      <div>Items:</div>
      <div *ngFor="let item of (items$ | async)" class="test-receiver__indent test-receiver__object">
        <div>Id: {{item.id}}</div>
        <div>Name: {{item.name}}</div>
      </div>
    </div>
  </div>
</div>
